:root {
    --color-dark: #0e2b2b;
    --color-muted: #729b9b;
    --color-light: #b8c9c9;
    --color-accent: #243f3f;
    --color-background: #fff;
    --color-second-background: #c2bdb7;
    --title-font-size: 2.7rem;
    --col-margin: .8rem;
}

/* text */

content {
    display: block;
    max-width: 900px;
    margin: 4rem auto;
}

content .wait {
    font-weight: 300;
    text-align: center;
    background: var(--color-accent);
    color: var(--color-background);
    letter-spacing: .02rem;
    font-size: 1.15rem;
    line-height: 1.7rem;
    border-radius: .5rem;
    padding: 1rem;
}

content .wait a {
    color: var(--color-background);
}

/* footer */

footer {
    text-align: center;
    color: var(--color-accent);
    font-size: 1.2rem;
    font-weight: 400;
}

footer p {
    color: var(--color-accent);
}

footer a {
    color: var(--color-accent);
}

footer .address {
    font-variant: small-caps;
}

/* custom elements */

.title-box {
    margin: 0 3rem;
    font-family: 'Ovo', serif;
}

.logo {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: 3rem;
    margin-left: -3rem;
    bottom: -.8rem;
    right: 1rem;
}

.title {
    display: inline-block;
    color: var(--color-accent);
    font-size: var(--title-font-size);
    font-variant: small-caps;
    font-weight: 500;
    font-size: 3.2rem;
    padding: 0;
    margin: 0;
    letter-spacing: .1rem;
}

.subtitle {
    color: var(--color-accent);
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .1rem;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 2rem;
        margin-left: -2rem;
        bottom: -.8rem;
        right: 1rem;
    }
    .title {
        font-size: 2rem;
        letter-spacing: .06rem;
    }
    .subtitle {
        font-size: 1.4rem;
        letter-spacing: .06rem;
    }
}

.mid-bar {
    display: inline-block;
    max-width: 5rem;
    width: 80%;
    height: 0;
    border-bottom: 1px solid var(--color-light);
    margin: .5rem 0;
}