:root {
    --color-dark: #0e2b2b;
    --color-muted: #729b9b;
    --color-light: #b8c9c9;
    --color-accent: #243f3f;
    --color-background: #fff;
    --color-second-background: #c2bdb7;
    --title-font-size: 2.7rem;
    --col-margin: 1rem;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    background-color: var(--color-second-background);
    font-weight: 400;
}

.container {
    max-width: 1280px;
    text-align: initial;
    width: 100%;
    display: inline-block;
    padding: calc(2 * var(--col-margin));
    background-color: var(--color-background);
    border: 1px solid var(--color-dark);
    box-sizing: border-box;
    border-radius: .1rem;
    box-shadow: 0 0 0 .3rem #0002;
}

/* text */

p {
    letter-spacing: .02rem;
    color: var(--color-dark);
    font-size: 1.15rem;
    line-height: 1.7rem;
}

content {
    display: block;
    max-width: 900px;
    margin: 1rem auto;
}

content p {
    text-indent: 2rem;
    text-align: justify;
}

content img {
    border: 1px solid var(--color-dark);
    box-sizing: border-box;
    border-radius: .2rem;
    width: 100%;
    margin: 1rem 0;
    object-fit: cover;
    box-shadow: 0 0 0 .2rem #0002;
}

.legend {
    color: var(--color-muted);
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
}

/* navbar */

.navbar {
    --navbar-el-margin: 0.2rem;
    letter-spacing: .02rem;
    border-bottom: 1px solid var(--color-light);
    margin-bottom: 1rem;
}

.navbar ul {
    text-align: center;
    margin: calc(-1 * var(--navbar-el-margin));
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: inline-block;
    margin: var(--navbar-el-margin);
    margin-bottom: calc(var(--navbar-el-margin) - 1px);
    padding: 0.1rem;
    text-decoration: none;
    color: var(--color-accent);
    border-bottom: 1px solid transparent;
}

.navbar ul li a.current {
    font-weight: 500;
}

.navbar ul li a:focus, .navbar ul li a:hover {
    border-bottom: 1px solid var(--color-dark);
}

.navbar ul li a:active {
    color: var(--color-muted);
    border-bottom: 1px solid var(--color-muted);
}

/* footer */

footer {
    text-align: center;
    color: var(--color-accent);
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 500;
}

footer p {
    color: var(--color-accent);
}

/* custom elements */

.title {
    color: var(--color-accent);
    font-size: var(--title-font-size);
    font-variant: small-caps;
    letter-spacing: .1rem;
    font-weight: 500;
    margin: 4rem 3rem 1rem 3rem;
}

.logo {
    width: var(--title-font-size);
    height: var(--title-font-size);
    margin-left: calc(-1 * var(--title-font-size));
    display: inline-block;
    vertical-align: baseline;
}

.mid-bar {
    display: inline-block;
    max-width: 5rem;
    width: 80%;
    height: 0;
    border-bottom: 1px solid var(--color-light);
    margin: 1rem 0;
}

.top-corner {
    background-image: url('img/angle.svg');
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .1rem;
    margin-bottom: -1.2rem;
}

.bottom-corner {
    display: inline-block;
    text-align: right;
    background-image: url('img/angle.svg');
    transform: rotate(180deg);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .1rem;
    vertical-align: bottom;
}

/* helpers */

.row {
    width: 100%;
    display: block;
    font-size: 0px;
}

.row .row {
    width: calc(100% + 2 * var(--col-margin));
    margin: 0 calc(-1 * var(--col-margin));
}

.col, .col-12, .col-6 {
    font-size: initial;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 var(--col-margin);
    width: calc(100% - 2* var(--col-margin));
}

.col-12 {
    width: calc(100% - 2 * var(--col-margin));
}

.col-6 {
    width: calc(50% - 2 * var(--col-margin));
}

.mh-5 {
    max-height: 16rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* responsives */

@media screen {
    :root {
        --col-margin: 2rem;
    }
    .col-12-lg {
        width: calc(100% - 2 * var(--col-margin));
    }
    .col-6-lg {
        width: calc(50% - 2 * var(--col-margin));
    }
    .mh-5-lg {
        max-height: 16rem;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --title-font-size: 2rem;
        --col-margin: 1rem;
    }
    .navbar {
        --navbar-el-margin: 0.2rem;
    }
    .col-12-md {
        width: calc(100% - 2 * var(--col-margin));
    }
    .col-6-md {
        width: calc(50% - 2 * var(--col-margin));
    }
    .mh-5-md {
        max-height: 16rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --col-margin: .5rem;
    }
    .col-12-sm {
        width: calc(100% - 2 * var(--col-margin));
    }
    .col-6-sm {
        width: calc(50% - 2 * var(--col-margin));
    }
    .mh-5-sm {
        max-height: 16rem;
    }
}